.Trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageTitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3vw;
    padding: 10px;
    font-weight: 200;
  }